In [4]:
import pandas as pd
data = pd.read_csv("626357fa-c95d-465f-9a02-3121655b2b78.csv",sep="\t")
data.head(5)

  Client ID,Name,Legal Name,Start Date,Street #,Street Name,State,Zip,Lat,Lon,Accuracy,Category
0  201211150002,Avalon Fuel,Avalon Fuel Company,1...
1  201511040005,Ez Energy #303/7Eleven #36183H,Ne...
2  201212130003,EZ Energy #311 / 7 Eleven #36191H...
3  201211190006,Getgo #3646 / Crafton - Ingram,Gi...
4  53583,Mt NeBlvd Texaco,Mt NeBlvd Texaco,6/2/19...